body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    margin-top: 5%;
    font-size: 500%;
    font-family:'Courier New', monospace;
    font-weight: bold;
    color: white;
    text-shadow: 10px 5px 10px black;
}

.form-control {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.btn.btn-info {
    margin-top: 20px;
    margin-bottom: 40px;
}

#idojarasHelye {
    color: rgb(48, 113, 113);
}

.card {
    width: fit-content;
    margin: auto;
    padding-left: 20px;
    padding-right: 15px;
    background-color: rgb(255, 255, 255, 0.75);
    text-shadow: 0px 3px 5px darkgray;
}

#varosInput {
    background-color: rgb(255, 255, 255, 0.75);
}